@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

:root {
    --dark-green: #1a7e1f;
    --green: #28a745;
    --white: #f5f5f5;
    --blue: #007bff;
    --red: #d9534f;
    --light: #f0f0f0;
    --dark-grey: #3a3b3a;
    --black: #000;
    --transparent: rgba(0, 0, 0, 0.15);
}


*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: 'Roboto', sans-serif
}

h1 {font-size: 3em}
.text-center {text-align: center}
.table td, th {text-align: center}
.taskDone {text-decoration: line-through}
.form-group { margin: 0.5em 0 }
.title {font-weight: bold}

.table-head {
  margin-top: 0.5em;
  padding: 0.5em 0;
  font-size: 1.1em;
  border-top: 1px solid var(--transparent);
  border-bottom: 1px solid var(--transparent)
}

.table-body {
  margin-top: 0.3em;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--transparent)
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.form-control {
  border: 0;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  font-size: 1em;
  padding: 0.5em 0.5em
}

.btn {
  border: 0;
  outline: 0;
  font-size: 1em;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  cursor: pointer
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white)
}

.btn-danger {
  background-color: var(--red);
  color: var(--white)
}

.btn-success {
  background-color: var(--green);
  color: var(--white)
}

.btn-block {
  display: block;
  border-radius: 0;
  width: 100%;
}
